/* 
* Main colors
* first color: #f2bbbf
* second color: #ff4f40
*/

html,body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: red
}

h1 {
  text-align: center;
  font-size: 3em !important;
  font-weight: bold;
  margin: 2em 0 !important;
  text-transform: capitalize
}

.title-md {
  text-align: center;
  font-size: 2rem;
  margin-top: 1em;
  color: grey;
  text-transform: capitalize
}

a{ 
  text-decoration: none; 
  color: #f2bbbf !important; 
  font-weight: bold
}

/* TOP BAR */
.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.topbar {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 3em;
}

.topbar span {
  color: #ff4f40;
}

.topbar button {
  border: 1px solid #ff4f40;
  color: #f2bbbf;
  padding: 5px 10px;
  background: none;
  font-size: 1em;
  transition: all .7s linear
}

.topbar button:hover {
  background: #ff4f40;
  cursor: pointer
}

@media (max-width: 569px) {
  .topbar-md { display: none}
}

/* HEADER */

header {
  background-color: #ff4f40;
}

.ui.menu {
  background-color: transparent !important;
}

/* ABOUT */
.about {
  margin-top: 3em;
  width: 100vw;
}

.icon {
  background-color: black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px
}

.desc {
  width: 75%;
  margin: 2em 0;
  font-size: 1.3rem
}


.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}


.profile_disc p {
  font-size: 20px;
  margin-top: 1em;
  line-height: 1.6;
  color: gray;
  font-family: 'Darker Grotesque', sans-serif;
}

.profile_disc .link {
  color: rgb(24, 139, 168) !important;
  font-weight: bold;
  font-size: 25px;
  margin-top: 2em;
  cursor: pointer;
  text-transform: capitalize;
  letter-spacing: 2px 
}

@media (max-width: 569px) {
  .profile_disc .link {font-size: 16px}
}

/* SKILLS */
.skills {
  text-align:center;
  width: 100vw;
}

.skills .profile {
  width: 100%;
  height: 100%;
  background: url('./images/youssef.JPG');
  background-size: cover;
  border: 2px solid #1B242F
}

.skills .profil_desc {
  padding: 15px;
}

.skills .profil_desc h4 {
  font-size: 1.7rem;
  background-color: #ff4f40;
  padding: 7px;
}

.skills .profil_desc p {
  font-size: 1.3em;
  line-height: 1.5
}

.skills .profil_desc span {
  margin-left: 10px;
  font-size: 20px
}

@media (max-width: 569px) {
  .skills .profil_desc { margin-top: 3em}
}

/* PROJECTS */
.projects {
  text-align: center;
  width: 100vw;
}

.projects .project_item {
  width: 100%;
  height: 300px;
  border: 2px solid #ff4f40;
  background: url('./images/projects/project01.png') center;
  background-size: cover
}

.projects .project_view {
  width: 100%;
  margin-top: 2em;
  padding: 10px
}

.projects .project_view button {
  display: block;
  border: 2px solid #1B242F;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: all .7s linear;
  cursor: pointer;
  background: transparent;
  padding: 7px 15px;
  margin-top: 10px;
  width: 100%;
  background-color: black
}

.projects .project_view button:hover{
  background-color: #ff4f40
}

/* FOOTER */
footer {
  margin-top: 5em;
  background: #1B242F;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: grey;
  font-size: 1.5em;
  text-align:center;
  height: 130px;
}


footer .footer_item {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

footer .footer_item div{
 margin-top: 2em
}

footer .icons a {
  transition: all .7s linear
}

footer .icons a:hover {
  background-color: rgb(10, 141, 228)
}

@media (max-width: 659px){
  footer {height: 200px; padding: 7px 0}
  footer .footer_item {display: block}
}

